header {
  background-color: #fff0f6;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
}

.logoContainer {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #343a40;
}

nav {
  font-family: 'Poppins', sans-serif;
}

nav button {
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menuNavigationElements {
  display: none;
}

.showNavbar {
  display: block;
}
